.subPanelHeading{
    text-align: center!important;
    color: #6D6D6D;
    opacity: 0.77;

}
.text-width{
    width: 30vw !important;
}
.new-pwdPageGrid{
    height: 100vh;
    overflow: auto;
}


@media(max-width:887px){
    .text-width{
        width: 100% !important;
    }
}

@media(max-width:600px){
.main-newpwd{
    margin-top: -100px;
}
}