.editpricingpage{
    background-color: #FAFAFA;
    padding: 15px 0px;
    width: calc(100% - 240px) ;
    margin-left: 240px;
}

.addinputfieldbtn{
    background-color: #ffffff !important;
    color:  #FF9A33 !important;
    font-weight: 600;
    width: 150px !important;
}
.savechangebtn{
    background-color:#FF9A33 ;
    color: #ffffff;
    font-weight: 600;
    width: 150px !important;
}
.discardbtn{
    color: #FF9A33 !important;
    background-color: #ffffff !important;
    border: 1px solid #dddddd !important;
    width: 150px !important;
}
.position{
    display: flex !important;
    justify-content: end;
    
}
.both-btn{
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
}
@media (max-width:700px){
    .both-btn{
        display: block;
    }
    .editpricingpage{
        width: 100% ;
        margin-left: 0px;
    }
}